<!DOCTYPE html>
<html>
  <head>
    <title>Mmmm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="header">
  <h1>Blog</h1>
  <ul class="lists">
  <li ><link>
</header>
    <%# <%= render 'layouts/navbar' %> 
    <%= yield %>
    
  </body>
</html>
